.header-image {
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}

.card:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
}

p, li {
    line-height: 150%;
    font-size: 19px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Merriweather', serif;
    line-height: 160%;
}

.embed {
    width: 1100px;
    height: 600px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #45a1ff;
    height: fit-content;
    color: #fff;
    margin: 0;
    text-align: center;
}